<p id="notice"><%= notice %></p>

<p>
	<strong>Name</strong>
	<%= @user_account.name %>
</p>

<p>
	<strong>Contact</strong>
	<%= @user_account.contact %>
</p>

<p>
   <strong>Email</strong>
   <%= @user_account.email %>
</p>

<ul>
  <li><%= link_to "Edit", edit_user_account_path(@user_account) %></li>
</ul>

<%= render "account_histories/account_history" %>
<%= render "account_histories/form" %>
<%= link_to "Show", user_accounts_path  %>    	
