
<div>
	<strong>first_name</strong>
	<%= @author.first_name %>
</div>
    
<div>
    <strong>last_name</strong>
    <%= @author.last_name %>
</div>

<div>
   <strong>title</strong>
   <%= @author.title %>
</div>

<%= link_to "edit", edit_author_path %>
<%= link_to "back", authors_path %>