<p id="notice"><%= notice %></p>

<h1>user Name</h1>
<table style="width:100%;">
	<thead>
		<tr>
			<th style="border:1px solid black;">Name</th>
			<th style="border:1px solid black;">Contact</th>
			<th style="border:1px solid black;">Address</th>
			<th style="border:1px solid black;">Show</th>
			<th style="border:1px solid black;">Edit</th>
			<th style="border:1px solid black;">Destroy</th>
			


			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td style="border:1px solid black;"><%= user.name %></td>
			<td style="border:1px solid black;"><%= user.contact %></td>
			<td style="border:1px solid black;"><%= user.address %></td>
			
			<td style="border:1px solid black;"><%= link_to "show", user %></td>
			<td style="border:1px solid black;"><%= link_to "edit", edit_user_path(user.id) %></td>	 
			<td style="border:1px solid black;"><%= link_to "destroy", user, method: :delete, data: {
				confirm: "Are you sure"
			} %>
		</tr>	
		<% end %>
	</tbody>
</table>
<br>

<%= link_to "New user Data", new_user_path %>





