<h2>Book Order </h2>

<table width="100%", border="1px";>
	<thead>
		<tr>
			<th>date submitted</th>
            <th>status</th>
			<th>subtotal</th>
			<th>shipping</th>
            <th>tax</th>
            <th>total</th>
        </tr>
    </thead>
    <tbody>
    		<% @orders.each do |order| %>
    	<tr>
    		<td><%= order.date_submitted %></td>
            <td><%= order.status %></td>
            <td><%= order.subtotal %></td>
            <td><%= order.shipping %></td>
            <td><%= order.tax %></td>
            <td><%= order.total %></td>
        </tr>		
    		<% end %>
    </tbody>
</table>   