 <%= form_with model: [ @companie ] do |form| %>

  <div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
  </div> 

  <div class="field">
  <%= form.label :place %>
  <%= form.select :place, ["Mumbai", "Chennai", "Banglore", "Indore", "Delhi"] %>
  </div>

  <div class="field">
  <%= form.label :description %>
  <%= form.text_field :description %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %> 	