<%= render "account_histories/account_history" %> 
<%= render "accounts/account" %>
<p>
  <strong>Name</strong>
  <%= @supplier.name %>
</p>

<ul>
  <li><%= link_to "Create Account", %>
  <li><%= link_to "Edit", edit_supplier_path %></li>
  <li><%= link_to "back", suppliers_path %>
</ul>



