<%= form_with model:@grocery do |form| %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
	<%= form.label :description %>
	<%= form.text_field :description %>
</div>

<div>
	<%= form.label :price %>
	<%= form.text_field :price %>
</div>	

<div>
	<%= form.label :scale %>
	<%= form.text_field :scale %>
</div>

<div>
	<%= form.submit %>
</div>

<% end %>	