
<p>
<strong>name</strong>
<%= @grocery.name %>
</p>

<p>
<strong>description</strong>
<%= @grocery.description %>
</p>

<p>
<strong>price</strong>
<%= @grocery.price %>
</p>

<p>
<strong>scale</strong>
<%= @grocery.scale %>
</p>

<%= link_to "edit", edit_grocery_path %>
<%= link_to "back", groceries_path %>