<p id="notice"><%= notice %></p>

<p>
   <strong>socialplatform Name</strong>
   <%= @socialplateform.name %>
</p>

<ul>
  <li><%= link_to "Edit", edit_socialplateform_path(@socialplateform) %></li>
</ul>


<%= link_to "Show", socialplateform_path  %> 
<%= link_to "back", socialplateforms_path %>
