<%= form_with(model: migration) do |form| %>
  <% if migration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(migration.errors.count, "error") %> prohibited this migration from being saved:</h2>

      <ul>
        <% migration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :table %>
    <%= form.text_field :table %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :roll_no %>
    <%= form.text_field :roll_no %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
