<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @migration.table %>
</p>

<p>
  <strong>Name:</strong>
  <%= @migration.name %>
</p>

<p>
  <strong>Roll no:</strong>
  <%= @migration.roll_no %>
</p>

<%= link_to 'Edit', edit_migration_path(@migration) %> |
<%= link_to 'Back', migrations_path %>
